@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Space+Grotesk:wght@400;500&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.font-logo {
  font-family: 'Pinyon Script', cursive;
}

.font-nav {
  font-family: 'Space Grotesk', sans-serif;
}
